<a>radio buttons</a>
<div class="radios">
  <label class="uiseek-radio">
    <input type="radio" name="group-enabled" />
    <span>unchecked</span>
  </label>
  <label class="uiseek-radio">
    <input type="radio" name="group-enabled" checked />
    <span>checked</span>
  </label>
</div>
<div class="radios">
  <label class="uiseek-radio">
    <input type="radio" name="group-disabled" disabled />
    <span>unchecked</span>
  </label>
  <label class="uiseek-radio">
    <input type="radio" name="group-disabled" checked disabled />
    <span>checked</span>
  </label>
</div>
