<a>textfield - standard</a>
<div class="textfields">
  <label class="uiseek-textfield-standard">
    <input placeholder=" " />
    <span>empty</span>
  </label>
  <label class="uiseek-textfield-standard">
    <input placeholder=" " value="some text" />
    <span>non-empty</span>
  </label>
  <label class="uiseek-textfield-standard">
    <textarea placeholder=" "></textarea>
    <span>empty textarea</span>
  </label>
  <label class="uiseek-textfield-standard">
    <textarea placeholder=" ">some text</textarea>
    <span>non-empty textarea</span>
  </label>
</div>
<div class="textfields">
  <label class="uiseek-textfield-standard">
    <input placeholder=" " disabled />
    <span>empty</span>
  </label>
  <label class="uiseek-textfield-standard">
    <input placeholder=" " value="some text" disabled />
    <span>non-empty</span>
  </label>
  <label class="uiseek-textfield-standard">
    <textarea placeholder=" " disabled></textarea>
    <span>empty textarea</span>
  </label>
  <label class="uiseek-textfield-standard">
    <textarea placeholder=" " disabled>some text</textarea>
    <span>non-empty textarea</span>
  </label>
</div>
