<a>textfield - standard</a>
<div class="textfields">
  <label uiseek textfield standard>
    <input placeholder=" " />
    <span>blank</span>
  </label>
  <label uiseek textfield standard>
    <input placeholder=" " value="Lorem ipsum" />
    <span>non-blank</span>
  </label>
  <label uiseek textfield standard>
    <textarea placeholder=" "></textarea>
    <span>blank textarea</span>
  </label>
  <label uiseek textfield standard>
    <textarea placeholder=" ">Lorem ipsum</textarea>
    <span>non-blank textarea</span>
  </label>
</div>
<div class="textfields">
  <label uiseek textfield standard>
    <input placeholder=" " disabled />
    <span>blank</span>
  </label>
  <label uiseek textfield standard>
    <input placeholder=" " value="Lorem ipsum" disabled />
    <span>non-blank</span>
  </label>
  <label uiseek textfield standard>
    <textarea placeholder=" " disabled></textarea>
    <span>blank textarea</span>
  </label>
  <label uiseek textfield standard>
    <textarea placeholder=" " disabled>Lorem ipsum</textarea>
    <span>non-blank textarea</span>
  </label>
</div>
