<a>checkbox</a>
<div class="checkboxes">
  <label class="uiseek-checkbox">
    <input type="checkbox" />
    <span>unchecked</span>
  </label>
  <label class="uiseek-checkbox">
    <input type="checkbox" checked />
    <span>checked</span>
  </label>
  <label class="uiseek-checkbox">
    <input type="checkbox" />
    <span>indeterminate</span>
  </label>
</div>
<div class="checkboxes">
  <label class="uiseek-checkbox">
    <input type="checkbox" disabled />
    <span>unchecked</span>
  </label>
  <label class="uiseek-checkbox">
    <input type="checkbox" checked disabled />
    <span>checked</span>
  </label>
  <label class="uiseek-checkbox">
    <input type="checkbox" disabled />
    <span>indeterminate</span>
  </label>
</div>
