<form [formGroup]="form" class="grid">
  <a>checkbox</a>
  <div formGroupName="enabled" class="checkboxes">
    <label uiseek checkbox>
      <input type="checkbox" formControlName="unchecked" />
      <span>unchecked</span>
    </label>
    <label uiseek checkbox>
      <input type="checkbox" formControlName="checked" />
      <span>checked</span>
    </label>
    <label uiseek checkbox>
      <input
        type="checkbox"
        formControlName="indeterminate"
        [indeterminate]="true"
      />
      <span>indeterminate</span>
    </label>
  </div>
  <div formGroupName="disabled" class="checkboxes">
    <label uiseek checkbox>
      <input type="checkbox" formControlName="unchecked" />
      <span>unchecked</span>
    </label>
    <label uiseek checkbox>
      <input type="checkbox" formControlName="checked" />
      <span>checked</span>
    </label>
    <label uiseek checkbox>
      <input
        type="checkbox"
        formControlName="indeterminate"
        [indeterminate]="true"
      />
      <span>indeterminate</span>
    </label>
  </div>
</form>
