<form [formGroup]="form" class="grid">
  <a>Switch</a>
  <div class="switches">
    <label uiseek switch>
      <input type="checkbox" formControlName="off" />
      <span>off</span>
    </label>
    <br />
    <label uiseek switch>
      <input type="checkbox" formControlName="on" />
      <span>on</span>
    </label>
  </div>
  <div class="switches">
    <label uiseek switch>
      <input type="checkbox" formControlName="offDisabled" />
      <span>off</span>
    </label>
    <br />
    <label uiseek switch>
      <input type="checkbox" formControlName="onDisabled" />
      <span>on</span>
    </label>
  </div>
</form>
