<a>Switch</a>
<div class="switches">
  <label class="uiseek-switch">
    <input type="checkbox" />
    <span>off</span>
  </label>
  <br />
  <label class="uiseek-switch">
    <input type="checkbox" checked />
    <span>on</span>
  </label>
</div>
<div class="switches">
  <label class="uiseek-switch">
    <input type="checkbox" disabled />
    <span>off</span>
  </label>
  <br />
  <label class="uiseek-switch">
    <input type="checkbox" checked disabled />
    <span>on</span>
  </label>
</div>
