/* Theming */
:host {
  left: 0;
  bottom: 0;
  color: #000;
  position: fixed;
  border-radius: 0 8px 0 0;
  padding: 24px 24px 36px;
  background-color: #eee;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transform: none;
  transition: transform 0.4s;

  &.hidden {
    transform: translate(-70%, 70%);
  }

  #toggle {
    margin-bottom: 16px;
  }

  #toggle > span {
    font-size: 20px;
  }

  & > label {
    display: block;
    color: rgba(0, 0, 0, 0.87);

    > input::-webkit-slider-runnable-track {
      background-color: transparent !important;
      background: linear-gradient(to right, #000, #fff);
    }

    > input::-moz-range-track {
      background-color: transparent !important;
      background: linear-gradient(to right, #000, #fff);
    }

    > input::-moz-range-progress {
      background-color: transparent !important;
    }

    > input::-ms-fill-lower,
    > input::-ms-fill-upper {
      background-color: transparent !important;
    }

    > input::-ms-track {
      background: linear-gradient(to right, #000, #fff);
    }
  }

  #primary > input::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      #f00,
      #ff0,
      #0f0,
      #0ff,
      #00f,
      #f0f,
      #f00
    );
  }

  #primary > input::-moz-range-track {
    background: linear-gradient(
      to right,
      #f00,
      #ff0,
      #0f0,
      #0ff,
      #00f,
      #f0f,
      #f00
    );
  }

  #primary > input::-ms-track {
    background: linear-gradient(
      to right,
      #f00,
      #ff0,
      #0f0,
      #0ff,
      #00f,
      #f0f,
      #f00
    );
  }

  /* Overriding */
  #on-primary {
    --uiseek-primary-rgb: var(--uiseek-onprimary-rgb);
  }

  #surface {
    --uiseek-primary-rgb: var(--uiseek-surface-rgb);
  }

  #on-surface {
    --uiseek-primary-rgb: var(--uiseek-onsurface-rgb);
  }
}

@media only screen and (max-width: 680px) {
  :host {
    transform: translate(-100%, 70%);
  }
}
