<div class="grid">
  <div></div>
  <div class="column">habilitado</div>
  <div class="column">desabilitado</div>
</div>

<uiseek-button class="grid"></uiseek-button>

<uiseek-checkbox class="grid"></uiseek-checkbox>

<uiseek-radio class="grid"></uiseek-radio>

<uiseek-switch class="grid"></uiseek-switch>

<uiseek-slider class="grid"></uiseek-slider>

<uiseek-progress class="grid"></uiseek-progress>

<uiseek-filled class="grid"></uiseek-filled>

<uiseek-outlined class="grid"></uiseek-outlined>

<uiseek-standard class="grid"></uiseek-standard>
