<a>button - contained</a>
<div><button class="uiseek-button-contained">contained</button></div>
<div>
  <button class="uiseek-button-contained" disabled>contained</button>
</div>

<a>button - outlined</a>
<div><button class="uiseek-button-outlined">outlined</button></div>
<div>
  <button class="uiseek-button-outlined" disabled>outlined</button>
</div>

<a>button - text</a>
<div><button class="uiseek-button-text">text</button></div>
<div><button class="uiseek-button-text" disabled>text</button></div>
