:host {
  --uiseek-helper-theme: var(
    --uiseek-theme-rgb,
    var(--uiseek-primary-rgb, 33, 150, 243)
  );

  --uiseek-transition: 280ms all 120ms ease-out;

  .dropdown__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
  }

  background-color: rgb(var(--uiseek-helper-theme));
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-flex;
        color: rgba(var(--uiseek-helper-ontheme, 255, 255, 255), 0.68);
        font-size: 1.125rem;

        &:focus {
          outline: none;
        }
      }

      > a,
      .dropdown__title {
        padding: 1rem 0.5rem;
        border-top: 3px solid transparent;
        transition: var(--uiseek-transition);

        &:hover,
        &:focus {
          border-top-color: rgb(var(--uiseek-helper-ontheme));
          color: rgb(var(--uiseek-helper-ontheme));
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      z-index: 1000;
      padding: 0;
    }
  }

  .dropdown {
    position: relative;

    .dropdown__title {
      display: inline-flex;
      align-items: center;

      &:after {
        content: '';
        border: 0.35rem solid transparent;
        border-top-color: rgba(var(--uiseek-helper-ontheme), 0.45);
        margin-left: 0.25em;
        transform: translateY(0.15em);
      }
    }

    .dropdown__menu {
      z-index: 1000;
      position: absolute;
      min-width: 15ch;
      left: 50%;
      top: calc(100% - 0.25rem);
      transition: var(--uiseek-transition);
      transform: rotateX(-90deg) translateX(-50%);
      transform-origin: top center;
      visibility: hidden;
      opacity: 0.3;
      padding: 0.5em 0;
      background-color: rgb(var(--uiseek-helper-ontheme, 255, 255, 255));
      border-radius: 4px;
      box-shadow: 0 0.15em 0.25em rgba(black, 0.25);

      a {
        color: rgba(var(--uiseek-onsurface-rgb, 0, 0, 0), 0.82);
        display: block;
        padding: 0.5em;
        opacity: 0;
        transition: var(--uiseek-transition);

        &:hover {
          background-color: rgba(var(--uiseek-helper-theme), 0.15);
        }

        &:focus {
          outline: none;
          background-color: rgba(var(--uiseek-helper-theme), 0.25);
        }
      }
    }

    &:after {
      content: '';
      border: 0.5rem solid transparent;
      border-bottom-color: rgb(var(--uiseek-helper-ontheme, 255, 255, 255));
      position: absolute;
      top: calc(100% - 1.25rem);
      left: 50%;
      transform: translateX(-50%);
      transition: var(--uiseek-transition);
      opacity: 0;
      will-change: opacity;
    }

    &:hover,
    &:focus-within {
      .dropdown__title {
        border-top-color: rgb(var(--uiseek-helper-ontheme, 255, 255, 255));
      }

      .dropdown__menu {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;

        a {
          opacity: 1;
          z-index: 1000;
        }
      }

      &:after {
        opacity: 1;
      }
    }
  }
}
